:root {
    --main-bg-color: #fff;
    --sub-bg-color: #000;
    --main-text-color: #0f1012;
    --sub-text-color: #fff;
    --accent-color: red;
    --first-brand-color: #f07bbb;
    --second-brand-color: #9979c1;
    --third-brand-color: #eadff2;
    --fourth-brand-color: #fee5eb;
    --title-font: 'Morganite';
    --main-font: 'Roboto';
    
    font-size: 62.5%;
}